@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100%;
  padding: 2rem;
}
.menu {
  position: fixed;
  z-index: 1000;
  width: 150px;
  background: #1b1a1a;
  border-radius: 5px;
  display: none;
  list-style: none;
}

.menu.open {
  display: block;
}

.menu .menu-item {
  padding: 8px 10px;
  font-size: 1rem;
  color: #eee;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  border-radius: inherit;
}

.menu .menu-item:hover {
  background: #343434;
}
.NGpMpiW3CGsXyGNHIwjO {
    display: flex;
    font-size: 32px;
    font-weight: bold;
    border: solid black 5px;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    width: 450px;
    height: 100px;
    text-align: center;
    align-items: center;
}
.LtbpMd3b2oLww7opC0SZ {
  position: fixed;
  top: -10px;
  color: lightblue;
  z-index: 100;
  pointer-events: none;
  user-select: none;
  animation-name: OxByV81aRTOMyX4FJnbk;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes OxByV81aRTOMyX4FJnbk {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0.8;
  }
}
.JRGTqI_wFT5QTO8SJcbW {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: 700;
  border: 1px solid red;
}
